.user-display-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-display-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toggle-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.toggle-icon svg {
  position: relative;
  margin-top: 1px;
}

.share-list .toggle-icon svg {
  margin-top: 2px;
  margin-left: 2px;
  width: 1rem;
  height: 1rem;
}

.user-display {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}