.user-display-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-display-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toggle-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.toggle-icon svg {
  position: relative;
  top: 2px;
}

.user-display {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}