.home-container {
  position: relative;
  min-height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(1px);
  padding-bottom: 80px;
  overflow: hidden;
}

.home-container > * {
  position: relative;
  z-index: 1;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 10;
}

.top-bar div{
  font-weight: bold;
}

.add-button {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  transition: all 0.2s ease;
  cursor: pointer;
}

.add-button:hover {
  background: linear-gradient(45deg, var(--primary-color), #3b7fc2);
  box-shadow: 0 2px 8px rgba(74, 144, 226, 0.3);
}

.tabs-row {
  display: flex;
  background: var(--background);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.tab-button {
  flex: 1;
  padding: 1rem;
  border: none;
  background: transparent;
  color: var(--text-primary);
  font-weight: 500;
  position: relative;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tab-button.active {
  color: var(--primary-color);
  font-weight: 600;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 3px;
  background: var(--primary-color);
  border-radius: 2px;
}

.tab-content {
  padding: 1rem;
}

.data-list {
  display: grid;
  gap: 0.75rem;
  padding: 0 1rem;
}

.data-item {
  background: var(--surface);
  padding: 1.25rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.2s ease;
  position: relative;
  overflow: visible;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.data-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.item-container{
  display: flex;
  justify-content: space-between;
}

.data-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  background: var(--danger);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.data-item:hover::before {
  opacity: 1;
}

.item-title {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: var(--text-primary);
}

.created-at-container {
  display: flex;
  gap: 7px;
  font-size: 12px;
  margin-bottom: 0.25rem;
}

.created-at-container strong{
  color: #0000008e;
}

.created-at-container span {
  color: #666;
}

.item-status {
  font-size: 0.9rem;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

.expanded-box {
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}

.password-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.secret-view-section {
  color: #666666;
  display: flex;
}

.secret-view-section span{
  font-size: 14px;
  position: relative;
  top: 4px;
}


.viewers-popup {
  border-radius: 12px !important;
  padding: 20px 0 0 0 !important;
  overflow: hidden !important;
}

.viewers-title {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: var(--text-primary) !important;
  padding: 0 24px !important;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  text-align: left !important;
}

.viewers-close {
  color: var(--text-secondary) !important;
  top: 16px !important;
  right: 16px !important;
}

.view-icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.view-icon-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.copy-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.item-header-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-date {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.delete-button {
  background-color: var(--primary-color);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.decrypting-animation {
  color: #ba1b5d;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.dots span {
  animation: bounce 1s infinite;
  display: inline-block;
  margin-left: 2px;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}
.dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

.loading-container-home{
  position: absolute;
  inset: 45%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}


.item-status::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--text-secondary);
}

.item-status[data-status="Private"]::before {
  background: var(--danger);
}

.item-status[data-status^="Shared"]::before {
  background: var(--success);
}

.no-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tab-content {
  animation: fadeIn 0.3s ease-out;
}

.shared-section {
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.shared-title {
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.shared-title::before {
  content: '';
  width: 10px;
  height: 10px;
  background: var(--secondary-color);
  border-radius: 50%;
}

.shared-users {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shared-user {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.02);
  transition: all 0.2s ease;
}

.shared-user img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.shared-user:hover {
  background: rgba(0, 0, 0, 0.05);
}

.user-icon {
  color: var(--text-secondary);
  font-size: 1rem;
}

.remove-icon {
  color: var(--danger);
  margin-left: auto;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.remove-icon:hover {
  background: rgba(255, 68, 66, 0.1);
  transform: scale(1.1);
}
