.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #ff6363,
    #ffacac,
    #9ccdff,
    #4ba5ff
  );
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: gradientFlow 8s ease infinite;
}

.logo-background {
  padding: 2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 40px rgba(185, 27, 93, 0.2);
}

.logo-animation {
  width: 200px;
  height: 200px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}


.cls-2 {
  fill: #b91b5d;
  stroke-width: 0px;
  padding: 20px;
  animation: 
    color-glow 1.2s ease-in-out infinite alternate
    
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes color-glow {
  from {
    filter: 
      drop-shadow(0 0 4px rgba(185, 27, 93, 0.3))
      drop-shadow(0 0 6px rgba(185, 27, 93, 0.2));
    fill: #b91b5d;
  }
  to {
    filter: 
      drop-shadow(0 0 20px rgba(185, 27, 93, 0.6))
      drop-shadow(0 0 30px rgba(185, 27, 93, 0.4));
    fill: #ff3874;
  }
}



@keyframes white-glow {
  0%, 100% { opacity: 0.95; }
  50% { opacity: 1; }
}