/* src/pages/AddData.css */
.add-data-container {
    padding: 1.5rem;
    margin-bottom: 70px;
    background-color: #f0f4f8;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-out;
  }
  
  .page-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .add-data-container label {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
    color: #555;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #0275d8;
    outline: none;
  }
  
  .share-with-row {
    display: flex;
    gap: 12px;
    margin-top: 8px;
    align-items: center;
  }
  
  .add-share-button {
    padding: 10px 12px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .add-share-button:hover {
    background-color: #0277bd;
  }
  
  .share-list {
    margin-top: 12px;
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .share-list p {
    font-weight: 600;
    color: #333;
  }
  
  .save-button {
    margin-top: 1.5rem;
    padding: 12px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  
  .popup-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .popup-content img{
    border-radius: 50%;
  }

  .popup-content button{
    padding: 12px;
    width: 60%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  /* Animation for fadeIn */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  