.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--surface);
    color: var(--metro-green);
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    border: 1px solid rgba(149, 255, 93, 0.3);
    box-shadow: var(--box-shadow);
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s, visibility 0.3s;
}

.snackbar.show {
    visibility: visible;
    opacity: 1;
    bottom: 90px;
}