.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .popup-container{
    font-weight: 600;
    position: relative;
    padding: 35px 10px;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    opacity: 0;
    transform: scale(0.9);
    animation: popupOpen 0.3s forwards;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: black;
    cursor: pointer;
    font-size: 20px;
  }
  
  @keyframes popupOpen {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }